@font-face {
  font-family: Neue Haas Grotesk;
  src: url(./fonts/NHaasGroteskDSPro-55Rg.otf);
}

@font-face {
  font-family: Wulkan Display;
  src: url(./fonts/Wulkan-Display-Light.otf);
}

@font-face {
    font-family: Screamer;
    src: url(./fonts/FKScreamerTrial-Black-BF65713309d368f.otf);
}

body {
    padding: 0;
    margin: 0;
}

#landing {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: orangered;
}

#landing #logo {
    margin: 0;
    font: 64px/1 Screamer;
    text-transform: lowercase;
}

#landing .intro {
    font: 24px/1 Wulkan Display;
}

#landing .intro b {
    font: 24px/1 Neue Haas Grotesk;
    text-transform: lowercase;
}
