* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font: 12px/1 Times;
    background: black;
    color: white;
}

section#landing {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100vh;
    padding: 5vw;
}

#landing .title {
    grid-column: 1/3;
    grid-row: 1;
    align-self: flex-start;
    justify-self: flex-start;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}

#landing h1 b {
    font-family: Arial;
    letter-spacing: -2px;
    color: orangered;
    font-weight: 700;
}
